/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2F80ED;
  transform: rotate(-15deg);
  animation: rotation_square linear 20s infinite;
}
