.kaufman__triangle {
  background-image: url(../../../images/kaufman/__triangle/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  animation: rotation_triangle linear 20s infinite;
}
