@import url('./__link/feinman__link.css');
@import url('./__subtitle/feinman__subtitle.css');
@import url('./__title/feinman__title.css');


.feinman {
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
  background-image: url('.././../images/feinman/feinman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
}
