* {
  box-sizing: border-box;
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    display: flex;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
}

.logo {
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url(../images/logo.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #2F80ED;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2n) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman {
  position: relative;
  height: 760px;
  background-color: #f2f2f2;
  background-image: url('../images/feinman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  margin-top: 100px;
}

.feinman__title {
  width: 648px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feinman__subtitle {
  text-align: center;
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table_theme_dark {
  z-index: 1;
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}
 .kaufman__triangle {
   background-image: url(../images/triangle.svg);
   background-size: contain;
   background-repeat: no-repeat;
   width: 877px;
   height: 877px;
   position: absolute;
   top: 0;
   right: -210px;
 }

 .footer {
   min-height: 350px;
   background-color: #1f1f1f;
   position: relative;
   padding: 60px 0 40px;
 }

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  min-height: 237px;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_white.svg);
  width: 184px;
  height: 35px;
}

.footer__author {
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  padding: 0;
  list-style: none;
  margin-top: 0;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
